* {
  margin: 0;
  padding: 0;
}

:root {
  --background-bg: #a4a4ff;
  --text-color: #181818;
  --text-color-white: #ffff;
  --text-color-gray: #292929ed;
  --text-color-gray-secu: #f1f1f1;
}
#bg-task {
  width: 100%;
  height: 550px;
  background-color: var(--background-bg);
}

#tc-bg-container {
  width: 350px;
}

#tc-bg-container div {
  background-color: var(--background-bg);
  border: none;
  color: var(--text-color-gray);
}

/* col-md-3 */

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  padding: 3px;
}


.tc-icoin-pages {
  margin: 0 0 0 -35px;
}

.tc-display {
  display: flex;
}

input {
  background-color: var(--background-bg);
  padding: 8px 50px;
  border-radius: 3px;
  border: 1px solid var(--text-color);
  color: var(--text-color-white);
  outline: 0;
  height: 50px;
}
 

input::placeholder {
  color: var(--text-color-gray);
}

.tc-button button {
  margin: 0 30px 0 30px;
}

.content-table img{
  width: 27px;
}


.center {
  text-align: center;
}

@media screen and (min-width: 280px) {
  .tc-icoin-pages .icoin-b img {
    width: 20px;
    display: block;
  }

  .icoin-c img {
    display: flex;
    width: 50px;
    margin: 0 0 0 180px;
  }

  .img-fluid {
    width: 244px;
  }

  h1 {
    font-size: 1.4rem;
  }

  .tc-container-img {
    display: block;
    width: 380px;
  }

  .tc-display- {
    display: block;
  }

  .button-more img {
    width: 137px;
  }

  .content-table {
    margin-top: 15px;
    padding: 5px;
  }


  table {
    border-collapse: collapse;
    border: 1px solid var(--text-color);
    width: 100%;
  }

  table th {
    background-color: var(--text-color-gray-secu);
  }

  table th,
  td {
    padding: 3px 14px;
    text-align: left;
    
  }

}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .icoin-c img {
    margin: 0 0 0 323px;
  }
  .tc-container-img {
    width: 520px;
  }
}

.tc-padding-bottom-20 {
  padding-bottom: 20px;
}

.tc-padding-top {
  padding-top: 100px;
}

.tc-padding-bottom-50{
  padding-bottom: 50px;
}